{% extends 'registration/registration_base.html' %}
{% load static %}{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Login to your account" %}{% endblock %}

{% block content %}
<form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" id="kt_sign_in_form" action="" method="post">
    {% csrf_token %}
    <div class="text-center mb-10">
        <h1 class="text-dark mb-3">Sign In to Sanford Corp</h1>
        <div class="text-gray-400 fw-bold fs-4">New Here?
            <a href="{% url 'registration_register' %}" class="link-primary fw-bolder">Create an Account</a>
        </div>
    </div>

    {{form|crispy}}
    <div class="form-group fv-row mb-7 fv-plugins-icon-container">
        <a href="{% url 'auth_password_reset' %}" class="d-block text-end link-primary fs-6 fw-bolder">Forgot Password ?</a>
    </div>

    <div class="text-center">
        <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">Continue</button>
    </div>
</form>
{% endblock %}

{% block javascript %}
<script>
    function alertUser() {
        alert("This feature is not available now");
    }
</script>
{% endblock %}
