{% extends "registration/registration_base.html" %}
{% load i18n %}{% load crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" method="post" action="">
    {% csrf_token %}
    <div class="text-center mb-10">
        <h1 class="text-dark mb-3">Forgot Password ?</h1>
        <div class="text-gray-400 fw-bold fs-4">Enter your email to reset your password.</div>
    </div>
    <div class="fv-row mb-10 fv-plugins-icon-container">
        <label class="form-label fw-bolder text-gray-900 fs-6">Email</label>
        <input type="email" name="email" autocomplete="email" maxlength="254" class="form-control form-control-solid" required="" id="id_email">
        <div class="fv-plugins-message-container invalid-feedback"></div>
    </div>
    
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <p class="mb-0">{{ error|escape }}</p>
            </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <p class="mb-0">{{ error|escape }}</p>
    </div>
    {% endfor %}

    <div class="d-flex flex-wrap justify-content-center pb-lg-0">
        <button type="submit" id="kt_password_reset_submit" class="btn btn-lg btn-primary fw-bolder me-4">
            <span class="indicator-label">Submit</span>
            <span class="indicator-progress">Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
        </button>
        <a href="{% url 'auth_login' %}" class="btn btn-lg btn-light-primary fw-bolder">Cancel</a>
    </div>
</form>
{% endblock %}
