{% extends "registration/registration_base.html" %}
{% load i18n static crispy_forms_tags %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" id="kt_sign_up_form" method="post" action="">
    {% csrf_token %}

    <div class="mb-10 text-center">
        <h1 class="text-dark mb-3">Create an Account</h1>
        <div class="text-gray-400 fw-bold fs-4">Already have an account?
            <a href="{% url 'auth_login' %}" class="link-primary fw-bolder">Sign in here</a>
        </div>
    </div>
    <button type="button" onclick="alertUser()" class="btn btn-light-primary fw-bolder w-100 mb-10">
        <img alt="Logo" src="{% static 'app/media/svg/brand-logos/google-icon.svg' %}" class="h-20px me-3">Sign in with Google</button>
    <div class="d-flex align-items-center mb-10">
        <div class="border-bottom border-gray-300 mw-50 w-100"></div>
        <span class="fw-bold text-gray-400 fs-7 mx-2">OR</span>
        <div class="border-bottom border-gray-300 mw-50 w-100"></div>
    </div>
    {{form | crispy}}

    <div class="text-center">
        <button type="submit" id="kt_sign_up_submit" class="btn btn-lg btn-primary">
            <span class="indicator-label">Submit</span>
            <span class="indicator-progress">Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
        </button>
    </div>

</form>
{% endblock %}

{% block javascript %}
<script>
    function alertUser() {
        alert("This feature is not available now");
    }
</script>
{% endblock %}
