{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="col-lg-10" style="margin-left: 50px;">
	<div class="card card-custom">
		<div class="card-header">
			<h3 class="card-title">
				{{title}}
			</h3>
		</div>

		<form class="form ajax redirect" method="POST" action="{{url}}">
			{%csrf_token%}
			<div class="card-body">
				<div class="row mb-2">
					<div class="form-group col-lg-6">
						<label>{{form.merchandiser.label}}
							{% if form.merchandiser.field.required %}
							<small class="text-danger">*</small>
							{% endif %}

							{% if form.merchandiser.help_text %}
							<span data-original-title="Field Info" title=""
								data-content="{{ form.merchandiser.help_text }}" data-placement="left"
								data-toggle="popover" data-trigger="hover"
								class="help-text-icon zmdi zmdi-info-outline"></span>
							{% endif %}
						</label>
						{{form.merchandiser}}
						{% if form.merchandiser.errors %}
						<label class="error">{{ form.merchandiser.errors.as_text }}</label>
						{% endif %}
					</div>
					<div class="form-group col-lg-6">
						<label>{{form.product.label}}
							{% if form.product.field.required %}
							<small class="text-danger">*</small>
							{% endif %}
							{% if form.product.help_text %}
							<span data-original-title="Field Info" title=""
								data-content="{{ form.product.help_text }}" data-placement="left"
								data-toggle="popover" data-trigger="hover"
								class="help-text-icon zmdi zmdi-info-outline"></span>
							{% endif %}
						</label>
						{{form.product}}
						{% if form.product.errors %}
						<label class="error">{{ form.product.errors.as_text }}</label>
						{% endif %}
					</div>
				</div>
				<div class="row mb-2">
					<div class="form-group col-lg-12">
						<label>{{form.count.label}}
							{% if form.count.field.required %}
							<small class="text-danger">*</small>
							{% endif %}
							{% if form.count.help_text %}
							<span data-original-title="Field Info" title=""
								data-content="{{ form.count.help_text }}" data-placement="left"
								data-toggle="popover" data-trigger="hover"
								class="help-text-icon zmdi zmdi-info-outline"></span>
							{% endif %}
						</label>
						{{form.count}}
						{% if form.count.errors %}
						<label class="error">{{ form.count.errors.as_text }}</label>
						{% endif %}
					</div>
				</div>
				<input type="submit" value="Submit" class="btn btn-sm btn-primary mt-4">
			</div>
		</form>
	</div>
</div>

<script>
	$(function () {
		$("#datepicker").datepicker();
	});
</script>

{{form.media}}

{% endblock %}