{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container-xxl" id="kt_content_container">
        <div class="row">
            <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                <div class="card-header cursor-pointer">
                    <div class="card-title m-0">
                        <h3 class="fw-bolder m-0">{{title}}</h3>
                    </div>
                </div>
                <div class="card-body p-9">
                    <!--begin::Row-->
                    <div class="row mb-7">
                        <label class="col-lg-4 fw-bold text-muted">Staff</label>
                        <div class="col-lg-8">
                            <span class="fw-bolder fs-6 text-gray-800">{{user.first_name}}</span>
                        </div>
                    </div>
                    <div class="row mb-7">
                        <label class="col-lg-4 fw-bold text-muted">Employee ID</label>
                        <div class="col-lg-8">
                            <span class="fw-bolder fs-6 text-gray-800">{{user.employe_id}}</span>
                        </div>
                    </div>
                    <div class="row mb-7">
                        <label class="col-lg-4 fw-bold text-muted">Total sales amount</label>
                        <div class="col-lg-8">
                            <span class="fw-bolder fs-6 text-gray-800">{{sales_amount}}</span>
                        </div>
                    </div>
                    <div class="row mb-7">
                        <label class="col-lg-4 fw-bold text-muted">Total sales retun amount</label>
                        <div class="col-lg-8">
                            <span class="fw-bolder fs-6 text-gray-800">{{sales_return_amount}}</span>
                        </div>
                    </div>
                </div>
                <!--end::Card body-->
            </div>
        </div>
        <div class="row">
            {% for i in target_data %}
            <div class="col-6">
                <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                    <div class="card-header cursor-pointer">
                        <div class="card-title m-0">
                            <h3 class="fw-bolder m-0">{{i.target_type}} - Target</h3>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Employee Name</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">{{i.user.name}}</span>
                            </div>
                        </div>
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Employee ID</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">{{i.user.employe_id}}</span>
                            </div>
                        </div>
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Year</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">{{i.year}}</span>
                            </div>
                        </div>
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Month</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">{{i.month}}</span>
                            </div>
                        </div>
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Target amount</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">{{i.target_amount}}</span>
                            </div>
                        </div>
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Current amount</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">{{i.current_amount}}</span>
                            </div>
                        </div>
                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Is completed</label>
                            <div class="col-lg-8">
                                <span class="fw-bolder fs-6 text-gray-800">{{i.is_completed}}</span>
                            </div>
                        </div>
                    </div>
                    <!--end::Card body-->
                </div>
            </div>
            {%endfor %}
        </div>
        <!--end::details View-->
    </div>
{% endblock %}