{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-xxl" id="kt_content_container">
    <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
        <div class="card-header cursor-pointer">
            <div class="card-title m-0">
                <h3 class="fw-bolder m-0">Year: {{object}}</h3>
            </div>
        </div>
        <div class="card-body p-9">

            <form method="post">{% csrf_token %}
                <h3>Are you sure you want to delete "{{ object }}"?</h3>
                <div class="mt-5">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
