{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--begin::Container-->
    <div class="container-xxl" id="kt_content_container">
        <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
            <div class="card-header cursor-pointer">
                <div class="card-title m-0">
                    <h3 class="fw-bolder m-0">Area: {{object}}</h3>
                </div>
            </div>
            <div class="card-body p-9">

                <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Name</label>
                    <div class="col-lg-8">
                        <span class="fw-bolder fs-6 text-gray-800">{{object.name}}</span>
                    </div>
                </div>
                <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Area code</label>
                    <div class="col-lg-8">
                        <span class="fw-bolder fs-6 text-gray-800">{{object.area_code}}</span>
                    </div>
                </div>
                <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Sub region </label>
                    <div class="col-lg-8">
                        <span class="fw-bolder fs-6 text-gray-800">{{object.sub_region}}</span>
                    </div>
                </div>
                <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Creator</label>
                    <div class="col-lg-8">
                        <span class="fw-bolder fs-6 text-gray-800">{{object.creator}}</span>
                    </div>
                </div>
                <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Created at</label>
                    <div class="col-lg-8">
                        <span class="fw-bolder fs-6 text-gray-800">{{object.created}}</span>
                    </div>
                </div>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::details View-->
    </div>
    <!--end::Container-->

{% endblock %}
