{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-xxl" id="kt_content_container">
	<div class="col-lg-12">
		<div class="card card-custom">
			<div class="card-header">
				<h3 class="card-title">
					{{title}}
				</h3>
			</div>

			<form class="form ajax redirect" method="POST" action="">
				{%csrf_token%}
				<div class="card-body">
					<div class="row mb-2">
						<div class="form-group col-lg-12">
							<label>{{form.name.label}}

								{% if form.name.field.required %}
								<small class="text-danger">*</small>
								{% endif %}

								{% if form.name.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.name.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>

							{{form.name}}
							{% if form.name.errors %}
							<label class="error">{{ form.name.errors.as_text }}</label>
							{% endif %}

						</div>
					</div>
					<div class="row mb-2">
						<div class="form-group col-lg-12">
							<label>{{form.type.label}}

								{% if form.type.field.required %}
								<small class="text-danger">*</small>
								{% endif %}

								{% if form.type.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.type.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>

							{{form.type}}
							{% if form.type.errors %}
							<label class="error">{{ form.type.errors.as_text }}</label>
							{% endif %}

						</div>
					</div>
					<div class="row mb-2">
						<div class="form-group col-lg-12">
							<label>{{form.country.label}}

								{% if form.country.field.required %}
								<small class="text-danger">*</small>
								{% endif %}

								{% if form.country.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.country.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>

							{{form.country}}
							{% if form.country.errors %}
							<label class="error">{{ form.country.errors.as_text }}</label>
							{% endif %}

						</div>
					</div>
					<div class="row mb-2">
						<div class="form-group col-lg-12">
							<label>{{form.state_code.label}}

								{% if form.state_code.field.required %}
								<small class="text-danger">*</small>
								{% endif %}

								{% if form.state_code.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.state_code.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>

							{{form.state_code}}
							{% if form.state_code.errors %}
							<label class="error">{{ form.state_code.errors.as_text }}</label>
							{% endif %}

						</div>
					</div>
					<div class="row mb-2">
						<div class="form-group col-lg-12">
							<label>{{form.tin_number.label}}

								{% if form.tin_number.field.required %}
								<small class="text-danger">*</small>
								{% endif %}

								{% if form.tin_number.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.tin_number.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>

							{{form.tin_number}}
							{% if form.tin_number.errors %}
							<label class="error">{{ form.tin_number.errors.as_text }}</label>
							{% endif %}

						</div>
					</div>
					<input type="submit" value="Submit" class="btn btn-sm btn-primary mt-4">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}

{{form.media}}
{% endblock %}
