{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--begin::Container-->
    <div class="container-xxl" id="kt_content_container">
        <!--begin::details View-->
        <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
            <!--begin::Card header-->
            <div class="card-header cursor-pointer">
                <!--begin::Card title-->
                <div class="card-title m-0">
                    <h3 class="fw-bolder m-0">{{title}}</h3>
                </div>
                <div class="card-toolbar">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn btn-success  fw-bolder px-4 me-1 tt-update-btn" href="{% url 'salaries:accept_salary_advance' pk=instance.pk %}">Accept</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-danger  fw-bolder px-4 me-1 tt-update-btn" href="{% url 'salaries:reject_salary_advance' pk=instance.pk %}">Reject</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--begin::Card header-->
            <!--begin::Card body-->
            <div class="card-body p-9">
                <!--begin::Row-->
                <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Employee Name </label>
                    <div class="col-lg-8 fv-row">
                        <span class="fw-bold text-gray-800 fs-6">{{instance.user.first_name}}</span>
                    </div>
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Employee Id </label>
                    <div class="col-lg-8 fv-row">
                        <span class="fw-bold text-gray-800 fs-6">{{instance.user.employe_id}}</span>
                    </div>
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Amount </label>
                    <div class="col-lg-8 fv-row">
                        <span class="fw-bold text-gray-800 fs-6">{{instance.amount}}</span>
                    </div>
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Description </label>
                    <div class="col-lg-8 fv-row">
                        <span class="fw-bold text-gray-800 fs-6">{{instance.description}}</span>
                    </div>
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Date of approval</label>
                    <div class="col-lg-8 fv-row">
                        <span class="fw-bold text-gray-800 fs-6">{{instance.approved_date}}</span>
                    </div>
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Approved </label>
                    <div class="col-lg-8 fv-row">
                        <span class="fw-bold text-gray-800 fs-6">{{instance.is_approved}}</span>
                    </div>
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Rejected </label>
                    <div class="col-lg-8 fv-row">
                        <span class="fw-bold text-gray-800 fs-6">{{instance.is_rejected}}</span>
                    </div>
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Max Amount </label>
                    <div class="col-lg-8 fv-row">
                        <span class="fw-bold text-gray-800 fs-6">{{instance.max_amount}}</span>
                    </div>
                </div>
                <!--end::Row-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::details View-->
    </div>
    <!--end::Container-->

{% endblock %}