{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-xxl" id="kt_content_container">
    <div class="col-lg-12">
        <div class="card card-custom">

            <div class="card-header">
                <div  class="card-toolbar">
                    <h3 class="card-title w-100">
                        {{title}} 
                    </h3>
                    <span>Code No : {{instance.retail_barcode}}</span>
                </div>
            </div>

            <div class="card-body row">
                <div class="d-flex align-items-center rounded   col-lg-6">
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                        <span class="font-weight-bold text-dark-75 text-hover-primary  mb-3">Product name</span>
                        <h6 class=" font-weight-bold">{{instance.name}}</h6>
                    </div>
                </div>
            </div>
            <div class="card-body row">
                <div class="d-flex align-items-center rounded   col-lg-6">
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                        <span class="font-weight-bold text-dark-75 text-hover-primary  mb-3">Retail Barcode</span>
                        <h6 class=" font-weight-bold">{{instance.retail_barcode}}</h6>
                    </div>
                </div>
                <div class="d-flex align-items-center rounded   col-lg-6">
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                        <span class="font-weight-bold text-dark-75 text-hover-primary  mb-3">E-commerce Barcode</span>
                        <h6 class=" font-weight-bold">{{instance.ecommerse_barcode}}</h6>
                    </div>
                </div>
            </div>

            <div class="card-body row">
                <div class="d-flex align-items-center rounded   col-lg-6">
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                        <span class="font-weight-bold text-dark-75 text-hover-primary  mb-3">Item number</span>
                        <h6 class=" font-weight-bold">{{instance.item_number}}</h6>
                    </div>
                </div>
                
            </div>
        
            <div class="card-body row">
                <div class="d-flex align-items-center rounded   col-lg-6">
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                        <span class="font-weight-bold text-dark-75 text-hover-primary  mb-3">Subcategory</span>
                        <h6 class=" font-weight-bold">{{instance.subcategory}}</h6>
                    </div>
                </div>
                <div class="d-flex align-items-center rounded col-lg-6">
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                        <span class="font-weight-bold text-dark-75 text-hover-primary  mb-3">List price</span>
                        <h6 class=" font-weight-bold">Rs {{instance.list_price}}</h6>
                    </div>
                </div>
            </div>

            <div class="card-body row">
                <div class="d-flex align-items-center rounded col-lg-6">
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                        <span class="font-weight-bold text-dark-75 text-hover-primary  mb-3">Available regions</span>
                        {% for region in available_regions %}
                            {{ region }} ,
                        {% endfor %}
                    </div>
                </div>
                <div class="d-flex align-items-center rounded col-lg-6">
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                        <span class="font-weight-bold text-dark-75 text-hover-primary  mb-3">Product PDF</span>
                        {%if instance.product_pdf%}
                        <h6 class="font-weight-bold"><a target="_blank" href="{{instance.product_pdf.url}}"> Open PDF file</a></h6>
                        {% else %}
                        <h6>No PDF file fount</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body row">
                <div class="d-flex align-items-center rounded col-lg-6">
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                        <span class="font-weight-bold text-dark-75 text-hover-primary  mb-3">Summary</span>
                        <h6 class="font-weight-bold">{{instance.summary}}</h6>
                    </div>
                </div>
                <div class="d-flex align-items-center rounded col-lg-6">
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                        <span class="font-weight-bold text-dark-75 text-hover-primary  mb-3">Description</span>
                        <h6 class=" font-weight-bold">{{instance.description | safe }}</h6>
                    </div>
                </div>
            </div>
            <div class="card-body row">
                <div class="d-flex align-items-center rounded col-lg-4">
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                        <span class="font-weight-bold text-dark-75 text-hover-primary  mb-3">Hot product</span>
                        <h6 class=" font-weight-bold">{{instance.is_hot_product}}</h6>
                    </div>
                </div>
                <div class="d-flex align-items-center rounded col-lg-4">
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                        <span class="font-weight-bold text-dark-75 text-hover-primary  mb-3">New arrival</span>
                        <h6 class=" font-weight-bold">{{instance.is_new_arrival}}</h6>
                    </div>
                </div>
                <div class="d-flex align-items-center rounded col-lg-4">
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                        <span class="font-weight-bold text-dark-75 text-hover-primary  mb-3">Out of stock</span>
                        <h6 class=" font-weight-bold">{{instance.is_out_of_stock}}</h6>
                    </div>
                </div>
            </div>
            <div class="card-body row">
                <div class="d-flex align-items-center rounded col-lg-4">
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                        <span class="font-weight-bold text-dark-75 text-hover-primary  mb-3">Catelogue</span>
                        <h6 class=" font-weight-bold">{{instance.catalogue_url}}</h6>
                    </div>
                </div>
            </div>
            <div class="card-body row">
                <div class="d-flex align-items-center rounded col-lg-6">
                    <div class="me-7 mb-4">
                        <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                            {% if instance.primary_image %}
                            <img src="{{instance.primary_image.url}}" alt="image">
                            {% else %}
                            <p>Image not found</p>
                            {% endif%}
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center rounded col-lg-6">
                    <div class="me-7 mb-4">
                        <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                            {% if instance.feature_graphic %}
                            <img src="{{instance.feature_graphic.url}}" alt="image">
                            {% else %}
                            <p>Image not found</p>
                            {% endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
