{% load static %}
<!--begin::Menu-->
<div class="menu menu-sub menu-sub-dropdown menu-column w-350px w-lg-375px" data-kt-menu="true">
	<!--begin::Heading-->
	<div class="d-flex flex-column bgi-no-repeat rounded-top" style="background-image:url('{% static 'app/media/misc/pattern-1.jpg' %}')">
		<!--begin::Title-->
		<h3 class="text-white fw-bold px-9 mt-10 mb-6">Notifications
		<span class="fs-8 opacity-75 ps-3">{{notifications_count}} Notifications</span></h3>
		<!--end::Title-->
	</div>
	<!--end::Heading-->
	<div class="card mb-5 mb-xl-8">
		<div class="card-body">
			<div class="scroll-y mh-325px">
				{% for n in notifications %}
				<!--begin::Item-->
				<div class="d-flex flex-stack py-4">
					<div class="d-flex align-items-center">
						<div class="symbol symbol-35px me-4">
							<span class="symbol-label bg-light-danger">
								<span class="svg-icon svg-icon-2 svg-icon-danger">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
										<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"></rect>
										<rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"></rect>
										<rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"></rect>
									</svg>
								</span>
							</span>
						</div>
						<div class="mb-0 me-2">
							<a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bolder">{{n.title}}</a>
							<div class="text-gray-400 fs-7">{{n.description}}</div>
						</div>
					</div>
					<span class="badge badge-light-warning fs-8">{{n.type}}</span>
				</div>
				<!--end::Item-->
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!--end::Menu-->
