{% extends 'base.html' %}
{% load static %}

{% block vendor_css %}
<link href="{% static 'app/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
{% endblock vendor_css %}
{% block vendor_js %}
<script src="{% static 'app/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script src="{% static 'app/js/custom/apps/customers/list/list.js' %}"></script>
{% endblock vendor_js %}

{% block content %}

<div class="container-xxl" id="kt_content_container">
    <div class="col-lg-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="flaticon2-heart-rate-monitor text-primary"></i>
                    </span>
                    <h3 class="card-label">{{title}}</h3>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-checkable table-striped table-rounded" id="datatable">
                        <thead>
                            <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                <th class="min-w-125px">#</th>
                                <th class="min-w-125px">Staff name</th>
                                <th class="min-w-125px">Year</th>
                                <th class="min-w-125px">Month</th>
                                <th class="min-w-125px">Point</th>
                                <th class="min-w-125px">Status</th>
                                <th class="min-w-125px">Description</th>
                                
                            </tr>
                        </thead>
                        <tbody class="fw-bold text-gray-600">
                            {% for i in instances %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.user}}</td>
                                <td>{{i.year}}</td>
                                <td>{{i.month}}</td>
                                <td>{{i.point}}</td>
                                <td>{{i.status}}</td>
                                <td>{{i.description}}</td>
                                
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
