{% extends 'base.html' %}
{% load static %}

{% block vendor_css %}
<link href="{% static 'app/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
<style>
    .dt-buttons{
        width: 100%;
    }
    .dataTables_filter {
        width: 100%;   
    }
</style>
{% endblock vendor_css %}
{% block vendor_js %}
<script src="{% static 'app/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script src="{% static 'app/js/custom/apps/customers/list/list.js' %}"></script>
<!-- script for datatable buttons and filters in datatable -->
<script>
    $(document).ready(function () {
      var printCounter = 0;

      // Append a caption to the table before the DataTables initialisation

      $("#datatable").DataTable({
        dom: "Bfrtip",
        buttons: [
          "copy",
          {
            extend: "excel",
            messageTop:
              "The information in this table is copyright to Sirius Cybernetics Corp.",
          },
          {
            extend: "pdf",
            messageBottom: null,
          },
          {
            extend: "print",
            messageTop: function () {
              printCounter++;

              if (printCounter === 1) {
                return "This is the first time you have printed this document.";
              } else {
                return (
                  "You have printed this document " + printCounter + " times"
                );
              }
            },
            messageBottom: null,
          },
        ],
      });
    });
</script>
{% endblock vendor_js %}


{% block content %}

<div class="container-xxl" id="kt_content_container">
    <div class="col-lg-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="flaticon2-heart-rate-monitor text-primary"></i>
                    </span>
                    <h3 class="card-label">{{title}}</h3>
                </div>
                <div class="card-toolbar">
                    <a href="{% url  'votings:create_voting' %}" class="btn btn-primary font-weight-bolder">
                    <i class="la la-plus"></i>New Record</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-checkable table-striped table-rounded" id="datatable">
                        <thead>
                            <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                <th class="min-w-125px">#</th>
                                <th class="min-w-125px">Product</th>
                                <th class="min-w-125px">Startdate</th>
                                <th class="min-w-125px">Enddate</th>
                                <th class="min-w-125px">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="fw-bold text-gray-600">
                            {% for i in instances %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.product}}</td>
                                <td>{{i.voting_startdate}}</td>
                                <td>{{i.voting_enddate}}</td>

                                <td>
                                    <div class="d-flex justify-content-start flex-shrink-0">
                                        <a href="{% url 'votings:voting_single' pk=i.pk %}" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                            <span class="svg-icon svg-icon-3">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <path d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z" fill="black"></path>
                                                    <path opacity="0.3" d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z" fill="black"></path>
                                                </svg>
                                            </span>
                                        </a>
                                        <a href="{% url 'votings:delete_voting' pk=i.pk %}" class="tt-del-btn btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                                            <span class="svg-icon svg-icon-3">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="black"></path>
                                                    <path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="black"></path>
                                                    <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="black"></path>
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
