{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-xxl" id="kt_content_container">
    <div class="col-lg-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="flaticon2-heart-rate-monitor text-primary"></i>
                    </span>
                    <h3 class="card-label">{{title}}</h3>
                </div>
            </div>

            <div class="card-body">
                <div class="col-lg-12 mb-3">
                    <label class="fs-6 form-label fw-bolder text-dark">Select Region</label>
                    <!--begin::Select-->
                    <select class="form-select form-select-solid select2-hidden-accessible" id="region" data-control="select2" data-placeholder="In Progress" data-hide-search="true" tabindex="-1" aria-hidden="true">
                        {% for region in regions %}
                        <option value="{{ region.id }}">{{ region.name }}</option>
                        {% endfor %}
                    </select>
                    <!--end::Select-->
                </div>
                <!--end::Input group-->
                <div class="col-lg-12">
                    <label class="fs-6 form-label fw-bolder text-dark">Select Staff</label>
                    <!--begin::Select-->
                    <select class="form-select form-select-solid select2-hidden-accessible" id="staff" data-control="select2" data-placeholder="In Progress" data-hide-search="true" tabindex="-1" aria-hidden="true">
                        <option value=""></option>
                        <option value="M">Sales Manager</option>
                        <option value="C">Sales Coordinators</option>
                        <option value="E">Sales Executives</option>
                        <option value="MER"> Merchandiser</option>
                        <option value="ALL" selected="selected">All</option>
                    </select>
                    <!--end::Select-->
                </div>
                <!--end::Col-->
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Fetch Attendance Date</a>
                </div>
                <!--end:Action-->
                <div class="card-footer" id="attendance_data">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        $("#fetch_attendance").click(function() {
            var a = $("#region").val(),
                e = $("#staff").val();
            $.ajax({
                url: "#",
                type: "POST",
                data: {
                    region: a,
                    staff: e
                }
            }).done(function(a) {
                var e = JSON.parse(a);
                console.log(e);
                var l = "<div class='form-group'><label>Attendance: </label></div>";
                for (key in l += "<div class='form-group'><div class='row'>", e) l += "<div class='col-lg-3'><div class='form-check'>", l += "<label class='form-check-label'>" + e[key].name + " </label> ", e[key].status ? l +=
                    "<b>[ Present ]</b>" : l += "<b>[ Absent ]</b>", l += "</div></div> ";
                l += "</div></div>", $("#attendance_data").html(l)
            }).fail(function() {
                alert("Error in Fetching Students.")
            })
        })
    });
</script>
{% endblock javascript %}
