{% extends 'base.html' %}
{% load static %}

{% block vendor_css %}
<link href="{% static 'app/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
{% endblock vendor_css %}
{% block vendor_js %}
<script src="{% static 'app/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script src="{% static 'app/js/custom/apps/customers/list/list.js' %}"></script>
{% endblock vendor_js %}


{% block content %}

<div class="container-xxl" id="kt_content_container">
    <div class="card card-custom">
        <div class="card-header">
            <div class="card-title">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Attendance</li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {%for d in dates %}
                <div class="card">
                    <div class="card-body">
                        <div class="card-title text-muted font-weight-bold">{{d}} -  {{d|date:'l'}}</div>
                    </div>
                    <table class="table table-striped table-dark table-checkable table-rounded" >
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Staff</th>
                                <th scope="col">Working hours</th>
                                <th scope="col">Missing hours</th>
                                <th scope="col">Is Late entry</th>
                                <th scope="col">Is Leave</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for a in attendances %}
                            {%if a.date == d%}
                            <tr class="{%if a.is_leave%}bg-danger{%elif a.is_late %}bg-warning{% endif %}">
                                <td>{{forloop.counter}}</td>
                                {%if a.user.first_name%}
                                <td>{{a.user.first_name}}</td>
                                {% else %}
                                <td>{{a.user.username}}</td>
                                {% endif %}
                                <td>{{a.working_hours}}</td>
                                <td>{{a.missing_hours}}</td>
                                <td>{{a.is_late}}</td>
                                <td>{{a.is_leave}}</td>

                            </tr>
                            {% endif %}
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
                <hr>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
{% endblock %}
