{% extends 'base.html' %}
{% load static %}

{% block vendor_css %}
<link href="{% static 'app/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
{% endblock vendor_css %}
{% block vendor_js %}
<script src="{% static 'app/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script src="{% static 'app/js/custom/apps/customers/list/list.js' %}"></script>
{% endblock vendor_js %}

{% block content %}

<div class="container-xxl" id="kt_content_container">
    <div class="col-lg-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </div>
                <div class="card-toolbar">
                    <div class="d-flex flex-stack">
                        <div class="symbol symbol-30px me-1">
                            <div class="symbol-label fs-2 fw-bold bg-danger"></div>
                        </div>
                        <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                            <div class="flex-grow-1 me-2">
                                <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Leave</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-stack">
                        <div class="symbol symbol-30px me-1">
                            <div class="symbol-label fs-2 fw-bold bg-warning"></div>
                        </div>
                        <div class="d-flex align-items-center flex-row-fluid flex-wrap">
                            <div class="flex-grow-1 me-2">
                                <a href="#" class="text-gray-800 text-hover-primary fs-6 fw-bolder">Late</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-checkable table-rounded" id="datatable">
                        <thead class="table-dark">
                            <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                <th class="min-w-125px">#</th>
                                <th class="min-w-125px">Staff</th>
                                <th class="min-w-125px">Employe ID</th>
                                <th class="min-w-125px">Working hours</th>
                                <th class="min-w-125px">Missing hours</th>
                                <th class="min-w-125px">Is Late entry</th>
                                <th class="min-w-125px">Is Leave</th>
                            </tr>
                        </thead>
                        <tbody class="fw-bold text-gray-600">
                            {% for a in attendances %}
                            <tr class="{%if a.is_leave%}bg-danger text-gray-400 fs-7{%elif a.is_late %}bg-warning{% endif %}">
                                <td>{{forloop.counter}}</td>
                                {%if a.user.first_name%}
                                <td>{{a.user.first_name}}</td>
                                {% else %}
                                <td>{{a.user.username}}</td>
                                {% endif %}
                                <td>{{a.user.employe_id}}</td>
                                <td>{{a.working_hours}}</td>
                                <td>{{a.missing_hours}}</td>
                                <td>{{a.is_late}}</td>
                                <td>{{a.is_leave}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
