{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="container-xxl" id="kt_content_container">
	<div class="col-lg-12">
		<div class="card card-custom">
			<div class="card-header">
				<h3 class="card-title">
					{{title}}
				</h3>
			</div>

			<form class="form ajax redirect" method="POST" action="{{url}}">
				{%csrf_token%}
				<div class="card-body">
					<div class="row mb-2">
						<div class="form-group col-lg-6">
							<label>{{form.name.label}}
								{% if form.name.field.required %}
								<small class="text-danger">*</small>
								{% endif %}

								{% if form.name.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.name.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>
							{{form.name}}
							{% if form.name.errors %}
							<label class="error">{{ form.name.errors.as_text }}</label>
							{% endif %}
						</div>
						<div class="form-group col-lg-6">
							<label>{{form.phone.label}}
								{% if form.phone.field.required %}
								<small class="text-danger">*</small>
								{% endif %}
								{% if form.phone.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.phone.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>
							{{form.phone}}
							{% if form.phone.errors %}
							<label class="error">{{ form.phone.errors.as_text }}</label>
							{% endif %}
						</div>
					</div>
					<div class="row mb-2">
						<div class="form-group col-lg-6">
							<label>{{form.employe_id.label}}
								{% if form.employe_id.field.required %}
								<small class="text-danger">*</small>
								{% endif %}
								{% if form.employe_id.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.employe_id.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>
							{{form.employe_id}}
							{% if form.employe_id.errors %}
							<label class="error">{{ form.employe_id.errors.as_text }}</label>
							{% endif %}
						</div>
						<div class="form-group col-lg-6">
							<label>{{form.dob.label}}
								{% if form.dob.field.required %}
								<small class="text-danger">*</small>
								{% endif %}
								{% if form.dob.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.dob.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>
							{{form.dob}}
							{% if form.dob.errors %}
							<label class="error">{{ form.dob.errors.as_text }}</label>
							{% endif %}
						</div>
					</div>
					<div class="row mb-2">
						<div class="form-group col-lg-6">
							<label>{{form.region.label}}
								{% if form.region.field.required %}
								<small class="text-danger">*</small>
								{% endif %}
								{% if form.region.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.region.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>
							{{form.region}}
							{% if form.region.errors %}
							<label class="error">{{ form.region.errors.as_text }}</label>
							{% endif %}
						</div>
						<div class="form-group col-lg-6">
							<label>{{form.city.label}}
								{% if form.city.field.required %}
								<small class="text-danger">*</small>
								{% endif %}
								region	{% if form.city.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.city.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>
							{{form.city}}
							{% if form.city.errors %}
							<label class="error">{{ form.city.errors.as_text }}</label>
							{% endif %}
						</div>
					</div>
					<div class="row mb-2">
						<div class="form-group col-lg-12">
							<label>{{form.photo.label}}
								{% if form.photo.field.required %}
								<small class="text-danger">*</small>
								{% endif %}
								{% if form.photo.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.photo.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>
							{{form.photo}}
							{% if form.photo.errors %}
							<label class="error">{{ form.photo.errors.as_text }}</label>
							{% endif %}
						</div>
					</div>
					<div class="row mb-2">
						<div class="form-group col-lg-6">
							<label>{{form.visa_number.label}}
								{% if form.visa_number.field.required %}
								<small class="text-danger">*</small>
								{% endif %}
								{% if form.visa_number.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.visa_number.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>
							{{form.visa_number}}
							{% if form.visa_number.errors %}
							<label class="error">{{ form.visa_number.errors.as_text }}</label>
							{% endif %}
						</div>
						<div class="form-group col-lg-6">
							<label>{{form.visa_expiry.label}}
								{% if form.visa_expiry.field.required %}
								<small class="text-danger">*</small>
								{% endif %}
								{% if form.visa_expiry.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.visa_expiry.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>
							{{form.visa_expiry}}
							{% if form.visa_expiry.errors %}
							<label class="error">{{ form.visa_expiry.errors.as_text }}</label>
							{% endif %}
						</div>
					</div>
					<div class="row mb-2">
						<div class="form-group col-lg-6">
							<label>{{form.passport_number.label}}
								{% if form.passport_number.field.required %}
								<small class="text-danger">*</small>
								{% endif %}
								{% if form.passport_number.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.passport_number.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>
							{{form.passport_number}}
							{% if form.passport_number.errors %}
							<label class="error">{{ form.passport_number.errors.as_text }}</label>
							{% endif %}
						</div>
						<div class="form-group col-lg-6">
							<label>{{form.passport_expiry.label}}
								{% if form.passport_expiry.field.required %}
								<small class="text-danger">*</small>
								{% endif %}
								{% if form.passport_expiry.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.passport_expiry.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>
							{{form.passport_expiry}}
							{% if form.passport_expiry.errors %}
							<label class="error">{{ form.passport_expiry.errors.as_text }}</label>
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="form-group col-lg-6">
							<label>{{form.address.label}}
								{% if form.address.field.required %}
								<small class="text-danger">*</small>
								{% endif %}
								{% if form.address.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.address.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>
							{{form.address}}
							{% if form.address.errors %}
							<label class="error">{{ form.address.errors.as_text }}</label>
							{% endif %}
						</div>
						<div class="form-group col-lg-6">
							<label>{{form.location.label}}
								{% if form.location.field.required %}
								<small class="text-danger">*</small>
								{% endif %}
								{% if form.location.help_text %}
								<span data-original-title="Field Info" title=""
									data-content="{{ form.location.help_text }}" data-placement="left"
									data-toggle="popover" data-trigger="hover"
									class="help-text-icon zmdi zmdi-info-outline"></span>
								{% endif %}
							</label>
							{{form.location}}
							{% if form.location.errors %}
							<label class="error">{{ form.location.errors.as_text }}</label>
							{% endif %}
						</div>
					</div>
					<input type="submit" value="Submit" class="btn btn-sm btn-primary mt-4">
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(function () {
		$("#datepicker").datepicker();
	});
</script>

{{form.media}}

{% endblock %}